[Unit]
Description=Run TV-Clone Watchdog Every Minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=tvclone-watchdog.service

[Install]
WantedBy=timers.target
